Sp.WanHai.Schemas/uspInvInsert_ProcedureResultSet.dbo.InterfaceInvoiceInsert.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ns4="http://schemas.microsoft.com/Sql/2008/05/ProceduresResultSets/dbo/InterfaceInvoiceInsert" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/Sql/2008/05/ProceduresResultSets/dbo/InterfaceInvoiceInsert" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:appinfo>
      <fileNameHint xmlns="http://schemas.microsoft.com/servicemodel/adapters/metadata/xsd">ProcedureResultSet.dbo.InterfaceInvoiceInsert</fileNameHint>
    </xs:appinfo>
  </xs:annotation>
  <xs:complexType name="StoredProcedureResultSet0">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="DocumentID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="resStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="resDescription" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StoredProcedureResultSet0" nillable="true" type="ns4:StoredProcedureResultSet0" />
  <xs:complexType name="ArrayOfStoredProcedureResultSet0">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StoredProcedureResultSet0" type="ns4:StoredProcedureResultSet0" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStoredProcedureResultSet0" nillable="true" type="ns4:ArrayOfStoredProcedureResultSet0" />
</xs:schema>