Sp.WanHai.Schemas/uspWHLInvPeppolDBStatus_ProcedureResultSet.dbo.InterfaceWHLInvoiceStatus.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ns3="http://schemas.microsoft.com/Sql/2008/05/ProceduresResultSets/dbo/InterfaceWHLInvoiceStatus" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/Sql/2008/05/ProceduresResultSets/dbo/InterfaceWHLInvoiceStatus" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:appinfo>
      <fileNameHint xmlns="http://schemas.microsoft.com/servicemodel/adapters/metadata/xsd">ProcedureResultSet.dbo.InterfaceWHLInvoiceStatus</fileNameHint>
    </xs:appinfo>
  </xs:annotation>
  <xs:complexType name="StoredProcedureResultSet0">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="InvoiceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="UUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LongId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ValidationDateTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="InterfaceStatus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StoredProcedureResultSet0" nillable="true" type="ns3:StoredProcedureResultSet0" />
  <xs:complexType name="ArrayOfStoredProcedureResultSet0">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StoredProcedureResultSet0" type="ns3:StoredProcedureResultSet0" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStoredProcedureResultSet0" nillable="true" type="ns3:ArrayOfStoredProcedureResultSet0" />
</xs:schema>